body{ 
    margin: 0;
    text-align: center;
    font-family:"helvetica neue",Helvetica,arial,sans-serif ;
}
h1{
    margin: 50px auto 0 auto ;
    font-family: sacramento;
    font-size: 562.5%;
    color:#66BFBF;
}
h2{
    color:#66BFBF;
    padding-bottom: 10px;
}
h3{
    color:#11999E
}
.top-container{
    background-color:#0b2461;
    padding-top: 100px;
    position: relative;

}
a{
    color: #11999e;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
    color:#eaf6f6
}
.middle-container{
   margin: 100px 0;
}
.bottom-container{
    background-color: #0b2461;
    padding: 50px 0 20px ;
   
}
.web{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
}
.top-cloud{
    position:absolute ;
    right: 300px;
    top:50px;
}
.h{
    font-size: 2rem;
    color:#66BFBF;
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
    line-height: 2;
}
.mountain{
    width: 25%;
}
.web-img{
    float: left;
    margin-right: 30px;
}
.basket-img{
    float: right;
    margin-left: 30px;
}
.waving{
    margin-right: 30PX;
}
.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}
hr{
    border: dotted #66BFBF 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.contact{
    width: 40%;
    margin: 40px auto 60px;
    line-height: 2;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
    background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #32d5eb;
    background-image: -webkit-linear-gradient(top, #32d5eb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #32d5eb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #32d5eb, #2bc4ad);
    background-image: -o-linear-gradient(top, #32d5eb, #2bc4ad);
    background-image: linear-gradient(to bottom, #32d5eb, #2bc4ad);
    text-decoration: none;
  }